@model MvcEx.Models.Books

<!DOCTYPE html>
<html>
<head>
    <title>Детали рассказа</title>
</head>
<body>
    <h2>Детали рассказа</h2>
    <p><strong>Название:</strong> @Model.title</p>
    <p><strong>Жанр:</strong> @Model.genre</p>
    <p><strong>Автор:</strong> @Model.author</p>
    <p><strong>Дата написания:</strong> @Model.written.ToShortDateString()</p>
    <p><strong>Рейтинг:</strong> @Model.rating</p>
    <p><strong>Содержимое рассказа:</strong></p>
    <p>@Model.contents</p>

    <h3>Оценить книгу</h3>
    @using (Html.BeginForm("RateBook", "Home"))
    {
        @Html.Hidden("id", Model.id)
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Оценить">
    }
    <h3>Комментарии</h3>
    <ul>
        @foreach (var comment in Model.comments)
        {
            <li>@comment</li>
        }
    </ul>

    <h3>Добавить комментарий</h3>
    @using (Html.BeginForm("AddComment", "Home"))
    {
        @Html.Hidden("bookId", Model.id)
        <textarea name="comment" rows="4" cols="50"></textarea>
        <br />
        <input type="submit" value="Отправить">
    }
</body>
</html>
