@model MvcEx.Models.Books

<!DOCTYPE html>
<html>
<head>
    <title>Детали рассказа</title>
</head>
<body>
    <h2>Детали рассказа</h2>
    <p><strong>Название:</strong> @Model.title</p>
    <p><strong>Жанр:</strong> @Model.genre</p>
    <p><strong>Дата написания:</strong> @Model.written.ToShortDateString()</p>
    <p><strong>Рейтинг:</strong> @Model.rating</p>
    <p><strong>Содержимое рассказа:</strong></p>
    <p>@Model.contents</p>

    <h3>Оценить книгу</h3>
    @using (Html.BeginForm("RateBook", "Home"))
    {
        @Html.Hidden("id", Model.id)
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Оценить">
    }
</body>
</html>
