@model List<MvcEx.Models.Books>

<!DOCTYPE html>
<html>
<head>
    <title>Писательская платформа</title>
</head>
<body>
    <h1>Добро пожаловать на писательскую платформу</h1>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <input type="text" name="searchTerm" placeholder="Введите название книги">
        <input type="submit" value="Поиск">
    }

    <!-- Ссылка для сортировки по рейтингу -->
    @Html.ActionLink("Сортировать по рейтингу", "SortByRating")


    <h2>Список рассказов</h2>
    <ul>
        @foreach (var book in Model)
        {
            <li>
                <a href="@Url.Action("BookDetails", "Home", new { id = book.id })">
                    @book.title
                </a>
                - @book.genre - @book.written.ToShortDateString() - Рейтинг: @book.rating
            </li>
        }
    </ul>
</body>
</html>
