@model List<MvcEx.Models.Books>

<!DOCTYPE html>
<html>
<head>
    <title>Писательская платформа</title>
</head>
<body>
    <h1>Добро пожаловать на писательскую платформу</h1>
    <h2>Список рассказов</h2>
    <ul>
        @foreach (var book in Model)
        {
            <li>
                <a href="@Url.Action("BookDetails", "Home", new { id = book.id })">
                    @book.title
                </a>
                - @book.genre - @book.written.ToShortDateString() - Рейтинг: @book.rating
            </li>
        }
    </ul>
</body>
</html>
